* {
  color: #254634;
}

body {
  margin: 0;
}

.dashboardTable {
  width: 100%;
}

.dashboardContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers horizontally along the main axis */
  align-items: center; /* Centers vertically along the cross axis */
  max-width: 1400px;
  padding: 0 24px;
  height: 100vh;
}

.dashboardHeaderText {
  font-size: 18px;
  margin-bottom: 18px;
}
